{% load static %}
{% include 'header.html' %}
<body>
	<div class="col-sm-4">
		<div class="card">
			<div class="card-content">
				<div class="card-header">
					<h5 class="text-center">Desculpe :(</h5>
				</div>
				<div class="card-body">
					<p class="text-center">Você não tem autorização pra acessar essa página.</p>
				</div>
				<div class="card-footer">
					<a href="/"><button class="btn btn-success" style="margin-left: 145px">Voltar para página inicial</button></a>
				</div>
			</div>
		</div>
	</div>
</body>
{% include 'footer.html' %}