{% load static %}
{% if messages %}
{% endif %}
{% include 'header.html' %}
<main role="main">
     {% include 'menu_admin.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mx-auto" style="width: 400px;">
                    <h3 style="text-align:center">Lista de usuários</h3>
                </div>
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#cadastrarModal">Cadastrar usuário</button>
                {% include 'usuario/cadastro_usuario.html' %}
                 <hr>
                {%if messages%}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} text-center" role="alert">
                    {{message}}
                </div>
                {% endfor %}
                {%endif%}
                {% if lista_usuarios %}
                <table class="table table-striped">
                    <thead class="thead-dark">
                         <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Data de registro</th>
                            <th scope="col" width="150px">Acervos</th>
                            <th scope="col" width="75px">Status</th>
                            <th scope="col" width="120px">Ações</th>
                         </tr>
                    </thead>
                    <tbody>
                        {% for perfil in lista_usuarios %}
                        <tr>
                            <td>{{ perfil.user.username }}</td>
                            <td>{{ perfil.data_de_registro }}</td>
                            <td>
                                 <a href="#" class="btn btn-secondary btn-sm">Acervo pessoal</a>
                            </td>
                            <td>
                                 {% if perfil.user.is_active %}
                                        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#mudarstatus-{{perfil.id}}">Ativo</button>
                                 {% else %}
                                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#mudarstatus-{{perfil.id}}">Desativado</button>
                                 {% endif %}
                                 {% include 'usuario/usuario_alterar_status.html' %}
                            </td>
                            <td>
                                <a href="{% url 'usuario:VisualizarUsuario' perfil.user.username %}" class="btn btn-primary btn-sm"><i class="fa fa-search" aria-hidden="true"></i>Visualizar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </div>
        </div>
    </div>
</main>
{% include 'footer.html' %}
<script>
function verificarSenha() {
    var x = document.getElementsByName("passwordconfirmacao")[0];
    if (x.value == document.getElementsByName("password")[0].value) {
        var element = document.getElementById("infosenha");
        element.classList.remove('animated', 'fadeInDown', 'fast');
        element.classList.add('animated', 'fadeOutUp', 'fast');
        element.addEventListener('animationend', function () {
            element.parentNode.removeChild(element);
        });
    }
    else {
        if (!(!!document.getElementById("infosenha"))) {

            x = x.parentElement.parentElement.parentElement;
            console.log(x);
            var info = document.createElement("div");
            info.classList.add('alert', 'alert-danger', 'animated', 'fadeInDown', 'fast');
            info.setAttribute('role', 'alert');
            info.innerHTML = 'As senhas não coincidem';
            info.id = "infosenha";
            x.parentElement.insertBefore(info, x);
        }
    }
}
function verificarEmail() {
    var x = document.getElementsByName("emailconfirmacao")[0];
    if (String(x.value).toLowerCase() == String(document.getElementsByName("email")[0].value).toLowerCase()) {
        var element = document.getElementById("infoemail");
        element.classList.remove('animated', 'fadeInDown', 'fast');
        element.classList.add('animated', 'fadeOutUp', 'fast');
        element.addEventListener('animationend', function () {
            element.parentNode.removeChild(element);
        });
    }
    else {
        if (!(!!document.getElementById("infoemail"))) {

            x = x.parentElement.parentElement.parentElement;
            var info = document.createElement("div");
            info.classList.add('alert', 'alert-danger', 'animated', 'fadeInDown', 'fast');
            info.setAttribute('role', 'alert');
            info.innerHTML = 'Os emails não coincidem';
            info.id = "infoemail";
            x.parentElement.insertBefore(info, x);

            //x.appendChild(info)
        }
    }
}
var e1 = document.getElementsByName("passwordconfirmacao")[0];
e1.addEventListener("input", verificarSenha);
var e2 = document.getElementsByName("emailconfirmacao")[0];
e2.addEventListener("input", verificarEmail);
var e3 = document.getElementById("formcadastro");
e3.addEventListener("submit", event => {
    var x = document.getElementsByName("emailconfirmacao")[0];
    if (String(x.value).toLowerCase() == String(document.getElementsByName("email")[0].value).toLowerCase()) {
        var y = document.getElementsByName("passwordconfirmacao")[0];
        if (y.value == document.getElementsByName("password")[0].value) {
            event.preventDefault();
            var formData = new FormData();
            var token = $('input[name="csrfmiddlewaretoken"]')[0];
            if (typeof cropper != "undefined") {
                cropper.getCroppedCanvas().toBlob(function (blob) {

                    formData.append('first_name', $('#first_name').val());
                    formData.append('last_name', $('#last_name').val());
                    formData.append('sexo', $("input[name='sexo']:checked").val());
                    formData.append('email', $("#email").val());
                    formData.append('username', $("#username").val());
                    formData.append('password', $("#password").val());
                    formData.append('grupo', $("#grupo option:selected").val());
                    formData.append('telefone', $("#telefone").val());
                    formData.append('genero', $("#generoshow option:selected").val());
                    formData.append('cep', $("#cep").val());
                    formData.append('numero', $("#numero").val());
                    formData.append('rua', $("#ruashow").val());
                    formData.append('bairro', $("#bairroshow").val());
                    formData.append('cidade', $("#cidadeshow").val());
                    formData.append('estado', $("#estadoshow option:selected").val());
                    formData.append('foto', blob);
                    $.ajax({
                        url: "{%url 'usuario:SalvarCadastroUsuario' %}",
                        headers: { "X-CSRFToken": token.value },
                        method: "POST",
                        data: formData,
                        processData: false,
                        //contentType: 'multipart/form-data',
                        contentType: false,
                        enctype: 'multipart/form-data',
                        success: function (data) {
                            window.location.href = data;
                        },
                        error: function () {
                            console.log('Upload error');
                        }
                    });

                });

            }
            else {
                formData.append('first_name', $('#first_name').val());
                formData.append('last_name', $('#last_name').val());
                formData.append('sexo', $("input[name='sexo']:checked").val());
                formData.append('email', $("#email").val());
                formData.append('username', $("#username").val());
                formData.append('password', $("#password").val());
                formData.append('grupo', $("#grupo option:selected").val());
                formData.append('telefone', $("#telefone").val());
                formData.append('genero', $("#generoshow option:selected").val());
                formData.append('cep', $("#cep").val());
                formData.append('numero', $("#numero").val());
                formData.append('rua', $("#ruashow").val());
                formData.append('bairro', $("#bairroshow").val());
                formData.append('cidade', $("#cidadeshow").val());
                formData.append('estado', $("#estadoshow option:selected").val()); $.ajax({
                    url: "{%url 'usuario:SalvarCadastroUsuario'%}",
                    headers: { "X-CSRFToken": token.value },
                    method: "POST",
                    data: formData,
                    processData: false,
                    //contentType: 'multipart/form-data',
                    contentType: false,
                    enctype: 'multipart/form-data',
                    success: function (data) {
                        window.location.href = data;
                    },
                    error: function () {
                        console.log('Upload error');
                    }
                });

            }
        }
    }

    });
</script>
<script src="https://unpkg.com/imask"></script>
<script>
var patternMask = IMask(
  document.getElementById('cep'),
  {
    mask: '00000-000'
  });
  var maskTelefone = IMask(
  document.getElementById('telefone'),
  {
    mask: '(00) 00000-0000'
  });
</script>
</body>
</html>