{% extends 'base.html' %} 

{% block title %}Sua Encomenda{% endblock %}

{% block content %}

<main style="margin-top: 5em;">

	<h3 class="text-center" style="margin-top: 1em;">Encomendas</h3>
	
	<div class="container">
		<div class="row justify-content-center">
			{% for encomenda in encomendas %}
			<div class="card col-md-3 rounded" style="margin-top: 1rem; margin-left: 1rem; margin-bottom: 1rem">
			    <div class="card-body">
			    	<!--<img src="img/bolos">-->
			        <div class="card-content">
			            <h5 class="card-title text-center">{{ encomenda.nome }}</h5>

			            <p>Preço: R$ {{ encomenda.preco }}</p>
			            <p>Descrição: {{ encomenda.descricao }}</p>
			            <p>Confeiteiro(a): <a href="{% url 'perfil' %}">{{ encomenda.confeiteira }}</a></p>

			            <a class="btn btn-primary ml-5" href="{% url 'AppSuaEncomenda:DetalheEncomenda' encomenda.id %}"><i class="fa fa-search-plus"></i> Visualizar</a>
			        </div>
			    </div>
			</div>
			{% endfor %} 
		</div>
	</div>



</main>


{% endblock %}